@media (max-width:1200px) {
    html{
        font-size: 10px;
        box-sizing: border-box;
    }
    .mainNav{
        justify-content: center;
        padding: 0;
        height: 10vh;
    }
    .fakenav{
        height: 10vh;
    }
    span{
        display: none;
    }
    .mainNav a:hover{
        background: var(--theme);
    }
    .mainNav ul{
        gap: 0;
    }
    .mainNav .left:hover{
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .page1 {
        flex-direction: column;
        align-items: center;
    }
    .page1 .left,.page1 .right{
        height: 45vh;
        padding: 0;
    }
    .page1 img{
        /* background-color: aqua; */
    }
      .posAbs {
        object-fit: fill;
        position: absolute;
        top: 0;
        left: 20;
        height: 100%;
    }

    .page2 .section{
        flex-direction: column;
        align-items: center;
        height: 90%;
    }
    .page2 .section .left,.page2 .section .right {
        height: 50%;
        width: 100%;
        background-color: white;
    }

.page3{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.page4 .section{
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.page4 .left{
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.page4 .right{
    width: 80%;
}
.contimg{
    width: 65%;
}
.contimg p{
    text-align: end;
        font-size: 3rem;
    }
}
